:root {
    --main-background-color: rgb(234, 234, 234);
    --main-text-color: rgb(28, 28, 39);
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-background-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    color:black;
}

.Link {
    color: inherit;
    text-decoration: none;
}

.Link:hover {
    transition: filter 1s ease;
    filter: brightness(0) saturate(100%) invert(65%) sepia(90%) saturate(5035%) hue-rotate(8deg) brightness(103%) contrast(103%);
    color: rgb(255, 165, 66);
}