.ProductSection{
    display: flex;
    justify-content: space-around;
}

.ProductSection__title{
    color: rgb(131, 131, 131);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.ProductSection__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 1024px) {
    .ProductSection__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .ProductSection__container{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}